<html>
  <body>
    <form action="/edit_task/{{ data[0] }}" method="POST">
      <input value="{{ data[1] }}" type="text" name="task_name" placeholder="Enter task name"> <br><br> 
      <textarea type="text" name="task_description" placeholder="Enter task description" rows=4  cols=50> {{ data[2] }}</textarea> <br><br> 
      <input value="{{ data[3] }}" type="date" name="task_deadline"> <br><br>
      <input type="submit" value="update">
      
    </form>
  
    <a href="/delete_task/{{ data[0] }}">Delete</a>
  
  </body>
</html>